$blue: rgba(36, 5, 242, 1);
$back: rgba(40, 41, 56, 1);
$wihte:rgba(244, 246, 252, 1);
$yellow:rgba(252, 217, 128, 1);
$Tint-blue:rgba(28, 30, 83, 1);
$Accent:rgba(238, 244, 250, 1);
$hamelone:rgba(252, 217, 128, 0.1);